name: Main CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  all-status-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs:
      - lint
      - format-check
      - find-projects
      - type-check
      - license-check
    steps:
      - uses: actions/checkout@v5
      - name: Check all-status-check
        run: |
          diff \
            <(yq ".jobs | del(.all-status-check) | keys.[]" .github/workflows/ci.yml) \
            <(yq ".jobs.all-status-check.needs.[]" .github/workflows/ci.yml)
      - name: All status check
        run: echo "All status checks passed"

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Run Ruff Linter
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1

  format-check:
    name: Format Check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Run Ruff Formatter Check
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          args: format --check --diff

  find-projects:
    name: Find Projects
    runs-on: ubuntu-latest
    outputs:
      projects: ${{ steps.find-projects.outputs.projects }}
    steps:
      - uses: actions/checkout@v4
      - name: Find Projects
        id: find-projects
        run: |
          echo 'projects=["diagrams"]' >>"$GITHUB_OUTPUT"

  type-check:
    name: Type Check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: find-projects
    strategy:
      matrix:
        project: ${{ fromJson(needs.find-projects.outputs.projects) }}
    defaults:
      run:
        working-directory: ${{ matrix.project }}
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      - name: Install dependencies
        run: uv sync --dev
      - name: Run Type Checker
        run: uvx ty check

  license-check:
    name: License Check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: ./actions/trivy-license-check
        with:
          scan_type: 'fs'
          scan_ref: '.'
